<!DOCTYPE html>
<html>
  <head>
    <title>Notification from Federation Registry</title>
  </head>
  <body>
    <div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
      <img src={{logo_url}} style="width:150px;">
    </div>
    <h5>Hello,</h5>

    <p>
        {{breaklines email_body}}
    </p>
    <div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
     <h5><a href={{url}} style="text-decoration:none;color:white;background-color:#207ABA;padding:0.5rem;">Go to Federation Registry</a></h5>
    </div>
    <h5>Greetings from the {{tenant_signature}}</h5>
  </body>
</html>
