<!DOCTYPE html>
<html>
  <head>
    <title>Notification from Federation Registry</title>
  </head>
  <body>
    <div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
      <img src={{logo_url}} style="width:150px;">
    </div>
        {{#each email_body}}
          {{#ifEquals @index 1}}  
            <div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
              <h5><a href={{../reconfigure_url}} style="text-decoration:none;color:white;background-color:#207ABA;padding:0.5rem;">Reconfigure You Service</a></h5>
            </div>
          {{/ifEquals}}
          {{breaklines this}}
        {{/each}}
  </body>
</html>
