body {
  width: 100%;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Manrope", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html {
  scroll-behavior: smooth;

}
#root {
  display:flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* General */


/* Main Page */
.main-container {


}

.flex-container {
  display:flex;
  margin: 0 2em;
}
/* Template */




/* Home Page */

.home-container {
  background-color:rgb(245, 245, 245);
  font-weight: 300;
  font-family: "Manrope";
  text-align: left;
}
.home-container h1{
  color: #4DB3CF;
  font-size: 2rem;
  padding-top: 1.5rem;
  margin: 0 0 1rem 0.7em;
  font-weight: bold;
}

.home-container p {
  font-size:1rem;
  margin-left:1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Header */

.drop-menu a {
  font:300 13px / 23px 'Manrope' !important;
  padding:0.2rem 1rem!important;
}

.drop-menu a svg {
  margin-left: 0.2rem;
}

.drop-container-header .dropdown-menu {
  font-size: 4rem!important;
}

.drop-container-header .dropdown-menu a {
  padding:0.3rem 1rem!important;
  font-size:1rem!important;
}

.log-button {
  color: rgb(89, 154, 219)!important;
  border-color: rgb(89, 154, 219)!important;
  padding: .2rem .75rem!important;
}

.log-button:hover {
  color:white!important;
}

.logo {
  margin-top:-2.5rem;
}
.logo a img {
  height: 5.4rem;
}
.main-title {
  color:rgb(91, 91, 91);
  font-family:"Manrope";
  font-weight: 300;
  font-size: 1.9rem;
  margin-top:1rem;
  margin-bottom:2rem;
}

/* Footer */

.footer {
  width:90%;
  margin:auto;
  margin-top:1rem;
  font-family:'Manrope';
  font-weight:300;
}
.logo-grnet {
  width:8rem;
  margin-right:0.5rem;
}
.logo-eu {
  width: 3rem;
}
.footer-links {
  display:flex;
  align-items:center;
  justify-content:flex-end;
  text-align: right;
}
.footer-links a {
  margin-left:0.5rem;
  font-size:1rem;
}
.footer-description  {
  margin-top:0.7rem;
  font-size:0.9rem;
}


/* Form Handler */
.text-comment{
   white-space: pre-line;
}
.jumbotron-comment {
  padding:1rem!important;
  text-align: left;
  max-height:7123rem;
}
.jumbotron-comment h5 {
  font-size:1.3rem;
}
.jumbotron-comment p {
  margin-bottom: 0;
  font-size:1rem;
}
.form-alert {
  margin-top: 1rem;
}


/* Service List */
.options-bar .row {
  width:100%!important;
  margin-left: 0!important;
}
.options-bar, .links {
  text-align: left;
  font-family:'Manrope';
  font-weight:300;
}
.options-bar button:first-child {
  margin-right:0.5rem;
}
.options-bar button svg {
  margin-right:0.5rem;
}
.options-bar {
  margin:1rem 0!important;
  padding:0.5rem 0;
  border:1px solid rgb(227, 227, 227);
}
.options-bar .col, .options-search {
  padding:0 0.5rem!important;
}
.filter-button {
  float:right;
  color:#0069d9!important;
}
.filters-row {
  margin-top:0.5rem;
}
.filters-col {
  display: inline-block;
  float:right;
}
.fa-arrow-down {
  margin:0 0 0.1rem 0.4rem!important;
}
.fa-arrow-up {
  vertical-align: bottom;
  margin: 0 0 0 0.5rem!important;
}

.petitions-table {
  text-align: left;
  font-family:'Manrope';
  font-weight:300;
  table-layout: fixed;
  width:100%;
}

.petitions-table tr td:first-child{
  width:120px!important;
}

.petitions-table tr td:last-child{
    padding-left:0!important;
    width:10.5rem!important;
}

.petitions-table img {
  width:100%;
}
.petition-details div {
  margin-left: 1rem;
}
.petition-details h3{

  font-size:1rem;
  color:rgb(43, 63, 68);
}
.petition-details p {
  font-size:0.8rem;
  color:rgb(153, 153, 153);
}
.table-image-container {
  height:5rem;
  width:5rem;
}
.petition-title{
  display:inline-block!important;
}

.petition-actions button {
  font-size: 0.8rem!important;
}
.petition-actions button svg {
  margin:0!important;
}
.badge-container {
  vertical-align: top;
  display:inline-block;
  margin-left:0.5rem;
}
.status-badge {
  margin-top:0rem;
  margin-right: 0.3rem;
}

.controls-col:first-child {
  padding-right:0!important;
  text-align: right;
}

.controls-col:last-child {
  margin-top:-0.5rem;
  padding:0!important;
}

.controls-col:last-child:hover {
    color:#ECECEC!important;
}

.controls-col a {
  display: block;
}

.controls-col .dropdown-item {
  text-align: center;
  padding:0.2rem 1rem!important;
  color: #007bff;

}
.controls-col .dropdown-item a:hover {
  text-decoration:none;
}
.controls-col-buttons button svg {
  margin-right:0.3rem!important;
}

.button-link {
  display: inline-block!important;
  margin-bottom: 0.5rem!important;
}

.notification svg {
  position: absolute;

}
.notification {
  position: absolute;
  margin-left:7rem;
  margin-top:-0.4rem;
}

.drop-container-controls button{
  margin-bottom:0;
}
.drop-container-controls .dropdown-menu {
  margin-right:0.7rem!important;
  margin-top:-0.5rem!important;
  padding:0rem;
}

.controls-options-container::after {
  content:none;
}

.controls-options-container {
  color:#495057;
  padding:0.2rem 0.4rem!important;
}
.controls-options-container:hover {
  color:#007bff;
}
.notification .fa-exclamation {
  margin-left: 0.5rem;
  font-size: 0.6rem;
  margin-top: 0.3rem;
  color: white;
  z-index: 10;
}
.notification .fa-circle {
  font-size: 1.2rem;
  color:red;
}
.filter-container {
  margin-left:0.5rem;
  display:inline-block;
  background-color:rgb(245, 245, 245);
  border:1px solid rgb(227, 227, 227);
  vertical-align: top;

  padding:0.3rem 0.5rem;
}
.select-filter-container{
  margin-left:0.5rem;
  display:inline-block;


}

.filter-container input {
  vertical-align: top;
  margin-top: 0.3rem;
  margin-left:0.4rem;
}

.dropdown-toggle::after {
  content:none!important;
}

.dropdown-item:hover {
  background-color: #d6d4d4!important;
}


/* Service Form */

.tab-panel {
  margin-top:1rem;
}

.form-controls-container {
  background-color: #F5F5F5;
  border:1px solid rgb(227, 227, 227);
  padding:0.5rem;
  margin-bottom: 1rem;
  margin-top:-0.5rem;
  text-align: left;
}
.form-controls-container button{
  font-size: 1rem!important;

}
.form-controls-container button svg {
  margin-right: 0.5rem;
}

.submit-button {
  margin-right:0.5rem;
}
.submit-buttons button:first-child {
  margin-right:2rem;
}
.submit-buttons button svg {
  margin-right:0.5rem;
}

.form-tabs-contianer {
  margin-bottom: 1.5rem;
}
.form-tabs {
  margin-bottom:1.5rem!important;
}

.comment-input {
  margin:0 1rem;
}
textarea {
  resize: none!important;
}
.review-controls {

}
.review-controls .form-group > .row{
  margin-bottom: 0.5rem!important;
}
.review-option-desc {
  color:#6b747e;
}
.review-radio-col{
  padding-right: 0.2rem!important;
}
.expand-container {
  margin-top:0.5rem;
}
.review-button-row{
  margin-left: 0.3rem!important;
}
.review-button svg{
  margin-left: 0.5rem;
  vertical-align: top;
  margin-top: 0.1rem;
}
.review-button:focus{
  box-shadow: none!important;
}
.review-button-expand:focus {
  box-shadow: none!important;
}

.review-button-expand {
  padding-left:0.2rem;
  padding-right:0.2rem;
}

.review-button-expand svg {
  vertical-align: top;
  margin-top:0.1rem;
}
.review-error {
  color:red;
  margin-left:0.4rem;
  margin-top:0.4rem;
}

/* Inputs */


.input-edited {
  border: 1px solid #FFC107!important;/* Blue */
  border-radius: 0.3rem;
  box-shadow: 0 0 0 .2rem
  rgba(255, 193, 7,.25);
}

.checkbox-edited {
  padding-left:1.9rem!important;
}

.select-container {
  display: inline-block;
}





















#uri-small-desc{
  margin-top: -0.75rem;
}
.radio-label {
  margin-left: 0.25rem;
}

.radio-buttons {
  display: inline;
  margin-left:0.25rem;

}
.scope-table td:first-child {

  padding-left: 0.8rem!important;
  text-align: left;
}
.addButton {
  font-size: 1rem!important;
  padding:0.08rem 0.33rem!important;
  line-height: 1rem!important;
  margin-bottom:0.5rem!important
}
.removeButton {
  font-size: 1rem!important;
  padding:0.08rem 0.38rem!important;
  line-height: 1rem!important;
}
.radio-group {
  text-align:left;
}


#redirect-uri-label {
  width:100%!important;

}
.label-checkbox {
  margin-top: 0.0rem!important;
  margin-bottom: 1rem!important;
}Loader
.checkboxList {
  text-align: left;
  margin-bottom: 0.37rem;
}
.client-list-table td{
  padding:0.3rem 1rem!important;
  border:1px solid #9e9e9e!important;
}
.client-list-table{

  width:auto!important;
}

.checkboxList input, .checkbox-item  input{
  margin-right:0.7rem;
}
.checkbox-item-edited {
  padding:0.5rem 1rem;
}
.spacing-bot-contact {
  margin-bottom:1.2rem!important;
}
.spacing-bot {
  margin-bottom: 0.3rem!important;
}
.uri-buttons{
  padding-left:0!important;.petition-details div {
  margin-left: 1rem;
}
.petition-details h3{

  font-size:1rem;
  color:rgb(43, 63, 68);
}
.petition-details p {
  font-size:0.8rem;
  color:rgb(153, 153, 153);
}
}
.checkbox {
  text-align:left;
}


.checkbox label {
  margin-left:0.7rem!important;
}
.custom-radio {
  text-align:left;
}
.custom-radio label {
  margin-right:0.25rem;
  margin-left:0.25rem;
}
.time-input {
  text-align: left;
}
.time-input .col-sm-4 {

  display:inline-block;
  padding-left:0;
}
.error-message, .error-message-list-item{
  color:#dc3545;
}
.error-message-list-item {
  margin-top:-0.7rem!important;
  margin-bottom: 0.3rem!important;
}
.error-td div {
  margin:0!important;
}

.error-tr td:first-child {
  background-color: #ffb3a6;

}

.invalid-input input {
  border:solid 1px #dc3545!important;
  border-radius: 0.25rem
}
.select-col {
  text-align: left;
}
.post-button{
  align-self:left;
  margin-left:-3rem;
  margin-right:1.5rem;
}
form {
  margin-top:1.5rem;
}
.dropdown-toggle svg {
  margin-left:0.5rem;
}

.nav-side {
  padding-right:1rem;
  width:20vw!important;
  height:12rem;
  background-color:rgb(245, 245, 245);

  font-family:'Manrope';
  font-weight:300;
  border:1px solid rgb(227, 227, 227);
  margin-right:2rem;
  text-align: left;
}
.nav-side a:hover, .nav-side a:active {
    background: #f2f2f2;
    text-decoration: none;
    height:auto;
}
.nav-side a , .nav-side div {
  margin-left: 1rem;
}

.nav-side-notification .fa-exclamation {
  position:absolute;

  font-size: 0.5rem;
  color: white;
  z-index: 10;
}
.nav-side-notification .fa-circle {
  position: absolute;
  margin-top:-0.15rem;
  margin-left:-0.3rem;
  font-size: 0.8rem;
  color:red;
}

.nav-side-notification svg {

}
.nav-side-notification {
  position: absolute;
  margin-left:0rem!important;
  display: inline-block;

}

.nav-title {
  color:#4b4b4b;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Manrope";
  line-height: 3rem;
  margin-bottom: -0.5rem;
}


.content-container {
  width:100%;
  margin:auto;
  margin-top:0;
  max-width:1600px;
  overflow: hidden;
}


.links {
  font-size:1rem;
  line-height: 1rem;
  padding:0.6rem;
  background-color:rgb(245, 245, 245);
}
.link-seperator {
  margin-left: 0.3rem;
  margin-right:0.3rem;
}




 thead td {
  border:none!important;
}
tbody tr td {
  border-right: none!important;
  border-left: none!important;
}
tbody tr td:last-child {
  border-left: none;
}






.submit-button {
  margin-right:0.5rem;
}
.submit-buttons button:first-child {
  margin-right:2rem;
}
.submit-buttons button svg {
  margin-right:0.5rem;
}



#hide_input {
  display:none;
}

.nav-side a{
  margin-top: 0.5rem;

}
/* User Info */

.user-text-info {
  display:none;
}
.dl-horizontal {
  margin-top:1.5rem;
}

.dl-horizontal dt {
  width:20%;
  float:left;
  text-align: right;
  clear: left;
}
.dl-horizontal dd {
  text-align: left;
  display:inline-block;
  width:70%;
  margin-left:0.3rem;
  height:20px;
}
.dl-text-info {
  font: 300 15px / 23px 'Manrope';
  color:rgb(43, 63, 68)!important;
}
.text-info {
  font: 300 15px / 23px 'Manrope';
}

/* Form Tabs Review */


.input-new {
  border-color:#28A745!important;
  box-shadow: 0 0 0 .2rem
  rgba(40, 167, 69,.25);
}
.input-deleted {
  border-color:#DC3545!important;
  box-shadow: 0 0 0 .2rem
  rgba(220, 53, 69,.25);
}
.remove-border-right {
  border-right:1px solid #ced4da!important;
  clip-path: inset(-.2rem 0px -0.2rem -0.2rem);
}
.remove-border-left {
  margin-left:-1px;
  border-left:1px solid #ced4da!important;
  border-radius:0 0.25rem 0.25rem 0!important;
  clip-path: inset(-.2rem -0.2rem -0.2rem -0rem);
}
.row-deleted {
  background-color: #ffb3a6;
}
.row-added:hover {
  background-color:#75d88a;
}
.row-deleted:hover {
  background-color:#f29587;
}

.row-added {
  background-color: #8cffa5;
}

.input-list-table td, .input-list-table th{
  border:1px solid #9e9e9e!important;
}
/* Loader */

.loader-container {
  position:fixed;
  left:50%;
  margin-left: -13.5rem;
  top:50%;
  margin-top:-2.5rem;
  width:27rem;
  height:5rem;
  background: rgb(235, 235, 235);
  border:1px solid rgb(215, 215, 215);
  z-index: 200;
  text-align: left;

}
.loader-container h3 {
  margin-left:3.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Manrope";
  width:auto;
  margin-top: 1.44rem;
  margin-bottom:  1.4rem;
  display: inline-block;
}
.loader-container div {
  vertical-align: top;
  margin-left:2rem;
  margin-top: 1.4rem;
  display: inline-block;
}


.loader {
  position:relative;
  float:right;
  margin-top:-1.8rem;
  margin-right:-2rem;
  border: 0.3rem solid #f3f3f3; /* Light grey */
  border-top: 0.3rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Inputs Hide */
.input-hide {

  background: none!important;

}

/*  */
.progress-bar-container {
  width:90%;
  height:4vw;
  margin:auto;
}
.loading-container h1 {
  font-family:'Manrope';
  font-weight:300;
  font-size: 1.5vw;
  text-align: left;
  margin-top:1vw;
  margin-left: 5%;
}
.loading-container {
  margin-top:1vw;
  border:1px solid rgb(227, 227, 227);
  background-color: #F5F5F5;
}

.pending-button {
  float:right;
}


/* Pettition Form */




/* Inputs */


/* History */
.history-container {
  font-weight: 300;
  font-family: "Manrope";
  text-align: left;
  margin-top:1rem;
  display:inline-block;
  float:left;
  font-size: 1.1rem;

}
.history-item {
  border:1px solid rgb(227, 227, 227)!important;
  border-radius: 0rem;
  background-color:#F5F5F5;
  padding:0.5rem 1rem;
  margin-bottom:1rem;
  left:0;
}
.history-item svg {
  margin-left:0.3rem;
}
.history-item:hover {
  background-color: #ECECEC;
}
.history-date {
  margin-left:1rem;
  margin-right:1rem;
}
.history-svg-edit {
  color:#FFC107;
}
.history-svg-create {
  color:#28A745;
}

.history-table {
  font-weight: 300;
  font-family: "Manrope";
  text-align: left;
  margin-top:1rem;
  width:40rem!important;

}
.history-table Button {
  font-size:0.8rem;
}
.history-table Button svg {
  margin-right: 0.5rem;
}
.history-color-create {
  font-size: 1.2rem;
  font-weight:700;
  color:#28A745;
}
.fake-link:hover {

    color: #0056b3;
    text-decoration: underline;
}
.fake-link {
  color: #007bff;
  text-decoration: none;
}

.edit-tabs {
  margin-top:1rem
}

/* Not sure */

#hide-tooltip {
  display: none;
}

/* Lang fix */
html:lang(gr) .home-container h1 {
  font-size: 10rem;
}

/* Loading Page */
.loading-page {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: white;
  z-index:40;
}

.loading-page div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:10vw;
    height:10vw;
    border-width: 0.65em;
    animation: spinner-border 1.5s linear infinite;
}
.navbar-fixed-top {
  z-index: 30!important;
}
.ssp-footer {
  z-index: 50!important;
}
.user-role {
}


/* Groups PPage */

.groups-table {
  width:auto;
  margin-top:1rem;
  min-width: 0;
  max-width: 40rem;
}
.groups-table td,.groups-table th{
    padding-left: 0.7rem;
    width:auto;
    white-space: nowrap;
}
.groups-table th{
  text-align:center;
  width:0;
}
.groups-table th:nth-child(3) {
  width:9rem;
  text-align:  center;
}
.groups-table th:nth-child(3) {
  width:3rem!important;
  text-align:  center;
}
.groups-table td:nth-child(3) {
  padding:0.7;
  color:#28A745;
  text-align:  center;
}
.groups-table td{
  line-height: 1.6rem;
  text-align: center;
}
.groups-table button {
  padding:0.1rem 0.5rem 0.1rem 0.5rem;
}

.groups-table button:nth-child(2) {
  padding:0.1rem 0.4rem 0.1rem 0.4rem;
}
.group_invite_row {
  margin:0;
  margin-left:0.3rem;

  margin-top:1rem;
  max-width:50rem;
}
.group_invite_row .input-group {
  padding: 0rem!important;
  margin-bottom:0.2rem!important;
}

.invitation-error {
  font-size: 0.8rem;
  margin:0;
  margin-left:0.5rem;
  color:#DC3545;
  font-weight: bold;
}
.invitation_alert {
  margin-top:1rem;
}
.invitation_alert span {
  font-weight: bold;
}


.group_title {
  margin-top: 1rem!important;
}


.invitation-container {
  margin-top:1rem;
  padding:0.5rem;

  border: 1px solid rgb(227, 227, 227);
  background-color: rgb(245, 245, 245);
}
.invitation-container button{

    margin-left: 1rem;
}

.invitation-container h3 {
  margin-left:0.5rem;
  margin-top:0.4rem;
  height:100%;
  display: inline-block;
  font-size: 1.1rem;
}


.confirmation-table td:first-child {
  text-align: right;
  padding-right: 0.5rem;
  font-weight: bold;
}


.groups-invite-table button {
  margin-right: 0.5rem;
}
.groups-invite-table td:nth-child(2) {
  color:#28A745;
}

.not_found_container {
  margin-top: 5rem;
  margin-left: 5rem;
}
.not_found_container span {
  color:#7c7c7c;
}

.error-loader {
  border: 0.3rem solid #f3f3f3; /* Light grey */
  margin-top: 0.4rem;
  margin-left:0.3rem;
  border-top: 0.3rem solid #B1737A; /* Blue */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}
.error-action-alert {
  border-color:     #f5c6cb!important;
  border-width: thin!important;
}
.error-action-alert-hidden {
  border:none!important;
  background-color: #F8D7DA!important;
  margin-bottom:0rem!important;
}
